.listdir {
  padding: 10px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(120px, 140px));

  a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--font-color);
    border-radius: 5px;
    padding: 10px 20px;
    transition: 0.1s;
    font-size: 17px;
    height: 90px;
    text-align: center;
    width: 120px;
    overflow: hidden;

    i {
      font-size: 50px;
      opacity: 0.5;
      display: inline-block;

    }

    span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      line-height: 1.3;

    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      transform: scale(1.1);
    }

    &:focus {
      outline: none;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.tail_info {
  background-color: var(--bg-special);
  opacity: 0.8;
  color: var(--font-special);
  position: absolute;
  padding: 5px 10px;
  display: none;
  border-radius: 5px;
  border: 0;
}

.editor-tools {
  gap: 30px;
  display: flex;
  justify-content: flex-start;
  padding: 10px;

  button {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
    color: var(--font-special);
  }
}


.window_form {
  position: fixed;
  z-index: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 60px;
  border-radius: 10px;
  display: flex;
  min-width: 400px;
  font-weight: bold;
  flex-direction: column;
  box-shadow: 0 0 10px var(--bg-special);
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 30px;
  background-color: var(--bg-special);
  color: var(--font-special);

  input {
    text-align: center;
    border: 0;
    background-color: var(--bg-color);
    color: var(--font-special);
    padding: 15px 20px;
    font-size: 25px;
    cursor: text;
    color: var(--font-color);
    border-radius: 5px;

    &::file-selector-button {
      display: none;
    }

    &:focus {
      outline: none;
    }
  }

  input[type=file] {
    cursor: pointer;
  }

  button:not(.x-btn) {
    color: var(--bg-special);
    background-color: var(--font-special);
    border: 0;
    padding: 5px 20px;
    font-size: 30px;
    min-width: 50px;
    cursor: pointer;
    min-height: 50px;
    font-weight: bold;
    border-radius: 5px;
  }

  .x-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    color: var(--font-special);
    font-size: 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
  }
}


.dragable {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 90px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  color: var(--font-color);
  padding: 10px 20px;
  font-size: 17px;
  text-align: center;
  overflow: hidden;

  i {
    font-size: 50px;
    opacity: 0.5;
    display: inline-block;

  }

  span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.3;

  }

}