.system_info{
    font-size: 20px;
    padding: 20px;
    display: flex;
    gap: 30px;
    color: var(--font-special);
    font-weight: bold;
}

.home{
    padding: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, 130px);
    .messages{
        padding: 30px;
        border-radius: 10px;
        background: var(--bg-special);
        display: flex;
        align-items: center;
        min-height: 120px;
        color: var(--font-special);
        justify-content: space-around;
        i{
            font-size: 60px;
        }
        font-size: 60px;
    }
    .settings_state{
        display: flex;
        flex-direction: column;
        min-height: 120px;
        background: rgba(0, 0, 0, 0.05);
        color: var(--font-color);
        border-left: 3px solid var(--font-color);
        padding: 10px;
        border-radius: 0 10px 10px 0;
        align-items: center;
        justify-content: space-around;
        .top{
            font-weight: bold;
            text-align: center;
            padding: 5px;
        }
        .value{
            font-weight: bold;
            font-size: 40px;
        }
    }
}