@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

$admin-menu-bg: #222;
$admin-menu-font: #fff;

$success-color: #3adb76;
$alert-color: #cc4b37;
$primary-color: #1779ba;
$secondary-color: #767676;
$warning-color: #ffae00;
$font-family: 'Poppins', sans-serif;

:root {

    [contenteditable] {
        outline: 3px solid #000;
    }

    .disable-click {
        pointer-events: none;
    }
}

.success{
    background-color: $success-color;
}
.alert{
    background-color: $alert-color;
}


.row {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    gap: 10px;
    align-items: center;
}