{% extends 'Panel/Pages/media/main.html' %}
{% load static %}


{% block head %}
    <title>Media - Audios</title>
    <link rel="stylesheet" href="{% static 'Panel/css/media.css' %}">
{% endblock %}

{% block main %}
    <div class="media-page">
        <div class="tiles">
         {% for aud in audios %}
            <div class="audio-tile">
                <div class="audio-box">
                    <audio src="{% url 'Main:audios' path=aud %}" controls></audio>
                </div>
                <span>{{ aud }}</span>
                <div class="tools">
                    <button><i class="fa-solid fa-trash"></i></button>
                    <button><i class="fa-solid fa-pen"></i></button>

                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block path %}
    {{ block.super }}
    <a href="{% url 'Panel:media-images' %}">AUDIOS</a>
{% endblock %}